# Python
__pycache__/
*.py[cod]
*.so
.Python
env/
venv/
.venv/

# Recordings
recordings/*
!recordings/.gitkeep

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# PyInstaller
.pyinstaller/
*.spec
build/*
!build/.gitkeep

# Pipenv
Pipfile.lock
